.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: navy;
  font-size: 30px;
  font-weight: bold;
}

.image {
  width: 80%;
  border: solid 1px gray;
}
